<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.saramin.hyunjeong.demo.board.mapper.BoardMapper">

    <select id="boardCount" resultType="int">
        SELECT
            COUNT(*)
        FROM BOARD
    </select>

    <select id="boardList" resultType="kr.co.saramin.hyunjeong.demo.board.domain.BoardVo">
        SELECT
            *
        FROM BOARD
    </select>

    <select id="boardDetail" resultType="kr.co.saramin.hyunjeong.demo.board.domain.BoardVo">
        SELECT
          *
        FROM board
        WHERE idx = #{idx}
    </select>

    <insert id="boardInsert" parameterType="kr.co.saramin.hyunjeong.demo.board.domain.BoardVo">
        insert into board (subject, content, name, password, ip, regdate)
        values (#{subject}, #{content}, #{name}, #{password}, #{ip}, now())
    </insert>

    <delete id="boardDelete" parameterType="int">
        delete from board where idx = #{idx}
    </delete>

    <update id="boardUpdate" parameterType="kr.co.saramin.hyunjeong.demo.board.domain.BoardVo">
        update board set
        name = #{name},
        ip = #{ip},
        <if test="subject != null">
            subject = #{subject},
        </if>
        <if test="content != null">
            content = #{content},
        </if>
        upddate = now()
        where idx = #{idx}
    </update>
</mapper>
